@import '../base/_variables'; 

.footer {
  background-color: $color-dark;
  padding: 30px 20px;
  border-top: 1px solid $color-white;
  @media only screen and (min-width: 850px) {
    padding: 40px 100px;
  }
  &__container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 850px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media only screen and (min-width: 850px) {
      width: 50%;
      flex-direction: row;
      align-items: center;
    }
    &--alt {
      @media only screen and (min-width: 850px) {
        justify-content: flex-end;
      }
    }
    &__arrowTop {
      transform: rotate(180deg);
      cursor: pointer;
      transition: transform .5s;
      svg {
        position: relative;
        fill: $color-white;
        width: 15px;
        height: 15px;
        top: 2px;
        transition: transform .5s;
      }
      @media only screen and (min-width: 1025px) {
        &:hover svg { transform: rotate(0) translate(0, 3px); }
      }
    }
    &__link {
      font-family: "Roboto", sans-serif;
      font-size: .875rem;
      margin-bottom: 15px;
      color: $color-white;
      display: flex;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      @media only screen and (min-width: 850px) {
        margin-bottom: 0;
        margin-right: 25px;
        &:last-child { margin-right: 0; }
      }
      svg { width: 30px; height: 30px; }
    }
  }
}
