@use '../base/variables' as *;

.footer {
  background-color: $color-dark;
  padding: 30px 20px;
  border-top: 1px solid $color-white;

  @media only screen and (min-width: 850px) {
    padding: 40px 100px;
  }

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media only screen and (min-width: 850px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media only screen and (min-width: 850px) {
      align-items: center;
    }
  }

  &__iconGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__icon {
    color: $color-white;
    text-decoration: none;
    transition: opacity 0.3s;
    &:hover { opacity: 0.7; }
  }

  &__textLink {
    background: none;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: .875rem;
    cursor: pointer;
    transition: opacity 0.3s;
    text-align: center;
    font-family: $font-secondary;

    &:hover { opacity: 0.7; }
  }

  &__copyright {
    font-family: $font-primary;
    font-size: .875rem;
    color: $color-white;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-secondary;
  }

  &__modal {
    background-color: $color-white;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    outline: none;

    &__overlay {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
