.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fcfdf9;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid #000;
  box-shadow: 0px 4px 7px 5px rgba(0,0,0,.05);
  z-index: 1000;
  padding: 0 20px;

  @media only screen and (min-width: 850px) {
    height: 90px;
    padding: 0 100px;
  }
  &.active-onscroll {
    position: sticky;
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  &__logo svg {
    height: 45px;
  }
  &__nav {
    position: fixed;
    bottom: -100%;
    right: 0;
    transition: bottom .2s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232424;
    @media only screen and (min-width: 850px) {
      position: relative;
      right: auto;
      bottom: 0;
      flex-direction: row;
      background-color: transparent;
    }
    &.active-nav {
      bottom: -70px;
      right: 0;
      left: 0;
      @media only screen and (min-width: 850px) {
        position: relative;
        background-color: transparent;
        flex-direction: row;
        bottom: 0;
      }
    }
    &__link {
      position: relative;
      font-size: .9375rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      background-color: #fff;
      padding: 10px 15px;
      @media only screen and (min-width: 850px) {
        color: #232424;
        margin-bottom: 0;
        margin-right: 40px;
        background-color: transparent;
        padding: 0;
      }
      &:after {
        content: "";
        display: none;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #232424;
        transition: width .5s;
        @media only screen and (min-width: 1025px) {
          display: block;
        }
      }
      @media only screen and (min-width: 1025px) {
        &:hover:after {
          width: 100%;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__burger {
    transition: transform .2s;
    @media only screen and (min-width: 850px) {
      display: none;
    }
    &.active-burger {
      .header__burger__bar {
        transform: rotate(-45deg);
        &:before { display: none; }
        &:after {
          top: 0px;
          transform: rotate(-90deg);
        }
      }
    }
    &__bar {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #000;
      &:before, &:after {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
      }
      &:after {
        transition: transform .2s;
        top: 6px;
      }
      &:before {
        top: -9px;
      }
    }
  }
}
