@import '../base/_variables'; 

.patchTxt {
  color: $color-black;
  padding: 7px 10px;
  border: 2px solid $color-black;
  background-color: $color-white;
  width: fit-content;
  text-transform: uppercase;
  font-size: .75rem;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  @media only screen and (min-width: 850px) {
    margin-bottom: 40px;
    font-size: 1rem;
    padding: 10px 15px;
  }

}
